<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <script src="~/Scripts/timeout-dialog.js"></script>
    <script>
   // session end
    var sessionTimeoutWarning = @Session.Timeout- 1;

    var sTimeout = parseInt(sessionTimeoutWarning) * 60 * 1000;
    setTimeout('SessionEnd()', sTimeout);
    function SessionEnd()
    {
        //alert("Your Session will timeout in 1 minute.");
        promptWindow();
        window.location = "/Home/Index";
    }

    function promptWindow() {
        // Create template
        var box = document.createElement("div");
        var cancel = document.createElement("button");
        cancel.innerHTML = "Cancel";
        cancel.onclick = function () { document.body.removeChild(this.parentNode) }
        var text = document.createTextNode("Your session has expired.");
        box.appendChild(text);
        // box.appendChild(input);
        var br = document.createElement("br");
        box.appendChild(br);
      
        box.appendChild(cancel);

        // Style box
        box.style.backgroundColor = "white";
        box.style.border = "1px solid #000000";
        box.style.position = "absolute";
        box.style.width = "400px";
        box.style.height = "150px";
        box.style.marginLeft = "35%";
        box.style.paddingTop = "2%";
       // box.style.paddingLeft = "5%";
        box.style.textAlign = "center";
        box.style.boxShadow = "2px 2px 2px black";

        // Center box.
        box.style.left = (window.innerWidth / 2) ;
        box.style.top = "100px";

        // Append box to body
        document.body.appendChild(box);

    }
    </script>
    
       
 
    
</head>


<body>
    


   

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Catholic Charities", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @* if not logged in. *@
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Managers", "Index", "Managers")</li>
                        <li>@Html.ActionLink("Assets", "Index", "Assets")</li>
                        <li>@Html.ActionLink("Employees", "Index", "Employees")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>

                    }
                    else
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    }
                    




                </ul>
               
                   
                    @Html.Partial("_LoginPartial")
               
                </div>

                @* If not authenticated still show the links below *@





            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer class="footer">
                <p>&copy; @DateTime.Now.Year JCCC CIS - 264 Project by Team 3</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
                    @Scripts.Render("~/bundles/bootstrap")
                    @RenderSection("scripts", required: false)
    </body>
</html>
