@model Project_Managment.Models.Asset

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">

<dt>
        @*@Model.FirstName)*@
    </dt>

    <dd>
        @*@Model.EmployeeID
        @Model.Employees.Count(x => x. != null)*@
    </dd>

    @*<dt>
        @Html.DisplayNameFor(model => model.Department.DepartmentName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Department.DepartmentName)
    </dd>



    <dt>
        Position
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Group.GroupName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.DepartmentID)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.DepartmentID)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.FirstName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.FirstName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.LastName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.LastName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.OfficeLocation)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.OfficeLocation)
    </dd>*@
        @*<dd>
                @Html.DisplayFor(model => model..)
            </dd>*@

    </dl>
</div>
<div style="width: 40%; float: none">
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>

