@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <div class="home-box">
        <div class="bottom">
            <div class="col">
                <a href="@Url.Action("Index", "Managers")">
                    <img class="size-image" src="~/Images/manager.png" />
                </a>

                @Html.ActionLink("Managers", "Index", "Managers")
            </div>
            <div class="col">

                <a href="@Url.Action("Index", "Assets")">
                    <img class="size-image" src="~/Images/asset2.png" />
                </a>
                @Html.ActionLink("Assets", "Index", "Assets")
            </div>
            <div class="col">

                <a href="@Url.Action("Index", "Employees")">
                    <img class="size-image" src="~/Images/workers.png" />
                </a>
                @Html.ActionLink("Employees", "Index", "Assets")
            </div>
            <div class="col2">

                <a href="@Url.Action("Index", "Employees")">
                    <img class="size-image" src="~/Images/settings.png" />
                </a>
                Settings
            </div>
        </div>
    </div>
</div>


