@model Project_Managment.Models.Manager

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Manager</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PromotionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromotionDate)
        </dd>

        <dt>
            Asset Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetID)
        </dd>

        <dt>
            Employee Name: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employees.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ManagerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
