@model Project_Managment.Models.ManagerList

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ManagerList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Assets.AssetDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assets.AssetDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employees.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employees.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Groups.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Groups.GroupName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ManagerListID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
