@model Project_Managment.Models.Invoice


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Firm_Invoice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firm_Invoice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Case_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Case_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invoice_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoice_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Appealable_Items)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Appealable_Items)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_Billed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Billed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pdf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pdf)
        </dd>
    </dl>
</div>


            <td>
                @Html.ActionLink("Download", "DownLoadFile")

            </td>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
