@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Project_Managment.Models.Asset>
@{
    ViewBag.Title = "Index";
}


<div class="header">
    <img class="header_logo" src="~/Images/home_icon.png" />
    <h4>Assets</h4>
    <div class="myButton">
        @Html.ActionLink("Add Device", "Create")
    </div>
</div>
<div class="search_bar">
    @using (Html.BeginForm("Index", "Assets", FormMethod.Get))
    {
        //the following are search options
        <b> Search Option: </b>@Html.RadioButton("option", "Name", true) <text>Name</text>
        @Html.RadioButton("option", "Department") <text > Department </text>
        @Html.RadioButton("option", "Make")<text>Make</text>
        @Html.TextBox("search") <input class="btn btn-primary btn-sm" type="submit"
                                       name="submit"
                                       value="Search" 
                                       />
    }
</div>

<div class="table-responsive">


   
    <table class="table table-striped table-hover " >

        <tr class="columns">

            <th>
               Computer Name
            </th>

            <th>
                @Html.DisplayNameFor(model => model.First().Make)
            </th>
            <th>
               Current Assigned User

            </th>
            <th>
                Device Type
            </th>
            <th>
                Current Status
            </th>
            <th>
                Department
            </th>
            <th>
                Vendor Name
            </th>
            <th>
                Manager
            </th>
            <th>
                Manager Name
            </th>
        </tr>

        @if (Model.Count() == 0)
        {
            <tr class="asset_page">
                <td colspan="8">No records found.</td>
            </tr>
        }
       

       @foreach (var item in Model)
        {
            <tr>

                <td>
                    @if (!string.IsNullOrEmpty(item.ComputerName))

                        {
                            @Html.ActionLink(item.ComputerName, "Details", new { id = item.AssetID })
                    }

                </td>
                <td>
                   
                        @Html.DisplayFor(modelItem => item.Make)
                        
                        @Html.DisplayFor(modelItem => item.ModelNumber)
                
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employees.FirstName)
                    @Html.DisplayFor(modelItem => item.Employees.LastName)

                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Asset_Category.AssetCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Status1)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vendor.VendorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManagerList.ManagerListID)
                </td>
                <td>
                   @Html.DisplayFor(modelItem => item.ManagerList.EmployeeID)

                </td>
            </tr>
        }
        
    </table>
   
    </div>
<div class="pager">@Html.PagedListPager(Model, page => Url.Action("Index", new { page, search = Request.QueryString["search"], option = Request.QueryString["option"] }))</div>
