@model Project_Managment.Models.Employee

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <hr />
    <div class="container">
        <div class="col-sm-7" style="margin-left: 20%;">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align:center">Remove Employee</h3>
                </div>
                <div class="panel-body" style="margin:auto;">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Department.DepartmentName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Department.DepartmentName)
                        </dd>




                        <dt>
                            @Html.DisplayNameFor(model => model.Group.GroupName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Group.GroupName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DepartmentID)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DepartmentID)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FirstName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.LastName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LastName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.OfficeLocation)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.OfficeLocation)
                        </dd>

                    </dl>

                    @*@using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">*@
                    @*<input type="submit" value="Delete" class="btn btn-default" new { onclick=$( function() {$( id="dialog" ).dialog(); } ); @*"return confirm('Are you sure to remove this employee?');" }) />*@
                    <input type="submit" value="Delete" class="btn btn-default col-xs-4" data-toggle="modal" data-target="#myModal" />

                    <div class="btn  col-md-6">
                        @Html.ActionLink("Back to List", "Index")
                    </div>

                    @*</div>*@

                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="col-lg" style="border: 1px solid; text-align:center; margin-bottom: 10px;">
                                   <h4>Confirm Delete</h4> 
                                </div>
                                <div class="modal-footer">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()

                                        <div class="form-actions no-color" style="margin-right: 20%;">
                                            <input type="submit" value="Delete" class="btn btn-default" />

                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
