@model IEnumerable<Project_Managment.Models.Employee>
@{
    ViewBag.Title = "Index";
}
<div class="header">
    <img class="header_logo" src="~/Images/Employee_Icon.png" />
    <h4>Employee List</h4>
    <div class="myButton">
        @Html.ActionLink("Add Employee", "Create")
    </div>
</div>
<style>
    .hideextra {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
<div class="wrapper">
    <table class="table">

        <tr class="columns">
            <th>
                @Html.DisplayNameFor(model => model.EmployeeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeLocation)
            </th>
            <th>Department</th>
            <th>Action</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>

                        @Html.DisplayFor(modelItem => item.EmployeeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfficeLocation)
                </td>
                <td>
                    <div class="hideextra" style="width:200px">
                        @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                        </div>
                </td>
               
                <td class="modify-record">
                    <div class="hideextra" style="width:200px">
                        @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.EmployeeID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeID })
                        </div>
</td>


            </tr>
        }
    </table>
</div>